<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645036714596-h8gg9a8uh6ih1bol5n0k09h84i9um5t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645036714596-h8gg9a8uh6ih1bol5n0k09h84i9um5t2</string>
	<key>API_KEY</key>
	<string>AIzaSyCqNYFqu7hFgiATovWf7MaF-RxgbGN8wW8</string>
	<key>GCM_SENDER_ID</key>
	<string>645036714596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.incidenciasApp</string>
	<key>PROJECT_ID</key>
	<string>incidenceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>incidenceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645036714596:ios:946a27c650f80fd5340d71</string>
</dict>
</plist>